streamlit
python-dotenv
pypdf
langchain>=0.2
langchain-core>=0.2
langchain-community>=0.2
langchain-huggingface
langchain-chroma
langchain-groq
langchain-ollama
groq
faiss-cpu
sentence-transformers
chromadb==0.4.24
protobuf==4.25.3
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-exporter-otlp==1.22.0
